.product {
  max-width: 1280px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity p {
  margin: 0;
}
.product-image {
  margin: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-image {
  margin: 0;
}
.side-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.buttons p {
  border: 1px solid black;
  border-radius: 10px;
  background-color: aqua;
  margin: 10px;
  padding: 5px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
button {
  margin: 0 auto;
  border-radius: 5px;
}
